*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/

venv/
env/

*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
static/

.vscode/

.idea/
*.sublime-workspace
*.sublime-project

.env
.env.*

.DS_Store

*.sqlite3

docker-compose.yml
Dockerfile

Pipfile.lock
